@import url('https://fonts.googleapis.com/css?family=Assistant');

body, html {
    overflow-x: hidden;
}

.nav-link a {
    color: #574F4F;
}

.danger {
    color: red;
}

.form-control {
    color: #0000FF;
}

.activated {
    color: #4675E3;
}

.circle-points {
    border-radius: 100%;
    border: thin solid #e3e3e3;
    width: 100px;
    height: 100px;
    margin: 1rem auto;
}

.social-m {
    color: #0098e1;
    font-weight: bold;
}

.circle-stats {
    border: thin solid #e3e3e3;
    width: 150px !important;
    height: 150px !important;
}

.circle-stats-number {
    line-height: 150px !important;
}

.stat {
    line-height: 100px;
}

.footer {
    height: 10vh;
    margin-top: 15%;
    background: #e3e3e3;
}

.footer-text {
    line-height: 10vh;
    font-size: 12px;
}

.question {
    color: #0098e1;
}

.border-none {
    border-radius: 0;
    border: thin solid #e3e3e365;
    background: #ffffff !important;
}

.btn {
    font-weight: bold;
    font-size: 0.9rem;
}

* {
    font-family: Assistant;
    font-size: 0.9rem;
}

.divider {
    width: 10%;
    border-bottom: 2px solid #e3e3e32c;
}

.title-text {
    color: #0098e1;
}

.divider {
    border-bottom: 2px solid #666666;
    width: 20%;
    margin-bottom: 3%;
    margin-top: 1%;
}

.right-side {
    border-right: thin solid #e3e3e3;
}

.division {
    border: thin solid #e3e3e3;
    text-align: center;
    width: 100%;
    height: 120px;
    padding-top: 25%;
}

.floats {
    float: left;
}

.dashboard-cover-stats {
    border: thin solid #e3e3e3;
    background: #ffffff;
}

.dashboard-stats {
    text-align: center;
    line-height: 35px;
    color: #999999;
    margin-top: 5%;
    font-size: 1rem;
}

.circle-stats {
    width: 50px;
    height: 50px;
    border: thin solid #e3e3e3;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 20%;
    text-align: center;
    line-height: 150px;
}
